<% expands('layouts/chimera') %>
<% script('chimera/page-editor') %>

<% start('pageCentral') %>
<div class="pageEditor">
	<div class="pageEditor-main">
		<div class="pageEditor-toptools">
			
		</div>
		<div class="pageEditor-blocks">

		</div>
	</div>
	<div class="pageEditor-sidebar">

	</div>
</div>
<% end('pageCentral') %>