<div class="chimeraEditor-fieldGroup">
	<div class="chimeraField-left">
		<label class="chimeraEditor-fieldLabel">
			<% assign('title') %>
				<span class="field-title"><% print(field_title) %></span>

				<% if (field_description) { %>
					<small class="field-description"><%= field_description %></small>
				<% } %>
			<% assign_end('title') %>
		</label>
	</div>
	<div class="chimeraEditor-fieldWrap">
		<% assign('entries') %>
	</div>
</div>