<div class="chimeraEditor-fieldGroup">
	<div class="chimeraField-left">
		<label class="chimeraEditor-fieldLabel">
			<% assign('title') %>
			<% print(data.field.fieldType.title) %>
			<% assign_end('title') %>
		</label>
	</div>
	<div class="chimeraEditor-fieldWrap">
		<% assign('entries') %>
	</div>
</div>