<%
// This currently breaks rendering
//expands('chimera/field_wrappers/default_edit');
script('rome/rome');
style('rome/rome');
%>
<div class="chimeraEditor-fieldGroup">
	<label class="chimeraEditor-fieldLabel">
		<% assign('title') %>
		<% print(data.field.fieldType.title) %>
		<% assign_end('title') %>
	</label>
	<div class="chimeraEditor-fieldWrap">
		<% assign('entries') %>
	</div>
</div>