<div class="chimeraEditor-fieldGroup">
	<label class="chimeraEditor-fieldLabel">
		<% assign('title') %>
			<span class="field-title"><% print(field_title) %></span>

			<% if (field_description) { %>
				<small class="field-description"><%= field_description %></small>
			<% } %>
		<% assign_end('title') %>
	</label>
	<div class="chimeraEditor-fieldWrap">
		<% assign('entries') %>
	</div>
</div>