<div class="chimeraField-row">
	<div class="chimeraField-left">
		<label class="chimeraField-label">
			<% assign('title') %>
			<% print(data.field.fieldType.title) %>
			<% assign_end('title') %>
		</label>
	</div>
	<% assign('entries') %>
</div>