<div class="chimeraField-row">
	<div class="chimeraField-left">
		<label class="chimeraField-label">
			<% assign('title') %>
			<% print(data.field.fieldType.title) %>
			<% assign_end('title') %>
		</label>
		<% if (data.field.fieldType.isArray) { %>
			<button class="btn chimeraField-add-entry">
				<%= __('chimera', 'Add new entry') %>
			</button>
		<% } %>
	</div>
	<% assign('entries') %>
</div>