<div class="chimeraField-row">
	<label class="chimeraField-label">
		<% assign('title') %>
		<% print(data.field.fieldType.title) %>
		<% assign_end('title') %>
	</label>
	<% assign('field') %>
</div>