<div class="chimeraField-row">
	<div class="chimeraField-left">
		<label
			class="chimeraField-label"
			for="field-<%= data.field.path %>"
		>
			<% assign('title') %>
				<span class="field-title"><% print(field_title) %></span>

				<% if (field_description) { %>
					<small class="field-description"><%= field_description %></small>
				<% } %>
			<% assign_end('title') %>
		</label>
		<% if (data.field.fieldType.is_array) { %>
			<button class="btn chimeraField-add-entry">
				<%= __('chimera', 'Add new entry') %>
			</button>
		<% } %>
	</div>
	<% assign('entries') %>
</div>