<div class="chimeraEditor-subschema">
	<h2>
		<% assign('title') %>
		<% print(data.field.fieldType.title) %>
		<% assign_end('title') %>
	</h2>
	<% if (data.field.fieldType.isArray) { %>
		<button class="btn chimeraField-add-entry">
			<%= __('chimera', 'Add new entry') %>
		</button>
	<% } %>
	<div class="chimeraEditor-subschema-wrap">
		<% assign('entries') %>
	</div>
</div>