<div class="chimeraEditor-subschema">
	<h2>
		<% assign('title') %>
			<span class="field-title"><% print(field_title) %></span>

			<% if (field_description) { %>
				<small class="field-description"><%= field_description %></small>
			<% } %>
		<% assign_end('title') %>
	</h2>
	<% if (data.field.fieldType.isArray) { %>
		<button class="btn chimeraField-add-entry">
			<%= __('chimera', 'Add new entry') %>
		</button>
	<% } %>
	<div class="chimeraEditor-subschema-wrap">
		<% assign('entries') %>
	</div>
</div>