<div class="chimeraEditor-subschema">
	<h2>
		<% assign('title') %>
		<% print(data.field.fieldType.title) %>
		<% assign_end('title') %>
	</h2>
	<div class="chimeraEditor-subschema-wrap">
		<% assign('field') %>
	</div>
</div>