<%
// This currently breaks rendering
//expands('chimera/field_wrappers/default_edit');
style(['medium-editor1.9.4/medium-editor', 'medium-editor1.9.4/themes/flat', 'medium-insert/medium-insert']);

// Loaded in base view, for now
script(['medium-editor1.9.4/medium-editor.min',

	// Medium button
	'chimera/medium-button',

	// Medium insert plugin
	'medium-insert/insert-plugin',

	// Insert plugin extensions
	'medium-insert/embeds', 'medium-insert/images', 'medium-insert/maps', 'medium-insert/tables'
]);

script('/public/ckeditor/4.4/ckeditor');

%>
<div class="chimeraEditor-fieldGroup">
	<div class="chimeraField-left">
		<label class="chimeraEditor-fieldLabel">
			<% assign('title') %>
			<% print(data.field.fieldType.title) %>
			<% assign_end('title') %>
		</label>
	</div>
	<div class="chimeraEditor-fieldWrap">
		<% assign('field') %>
	</div>
</div>