<%
// This currently breaks rendering
//expands('chimera/field_wrappers/default_edit');
style(['medium-editor1.9.4/medium-editor', 'medium-editor1.9.4/themes/flat']);
script('medium-editor1.9.4/medium-editor.min');
%>
<div class="chimeraEditor-fieldGroup">
	<label class="chimeraEditor-fieldLabel">
		<% assign('title') %>
		<% print(data.field.fieldType.title) %>
		<% assign_end('title') %>
	</label>
	<div class="chimeraEditor-fieldWrap">
		<% assign('field') %>
	</div>
</div>