<div class="form-group">
	<label for="AdminField<%= name %>" class="col-sm-2 control-label"><%= title %></label>
	<div class="col-sm-10 controls">
		<input name="data[Product][<% name %>]" class="form-control" value="<%= value %>" id="AdminField<%= name %>" type="text">
	</div>
</div>