<label class="chimeraEditor-boolean">
	<input
		class="chimeraEditor-input chimeraEditor-edit-boolean"
		type="checkbox"
		name="data.<%= data.field.path %>"
		<%= data.value ? 'checked': '' %>
	>
	<div class="chimeraEditor-boolean-text">
		<span class="u-yes">Yes</span>
		<span class="u-no">No</span>
	</div>
</label>

<% if (data.field.fieldType.isArray) { %>
	<button class="btn chimeraField-remove-entry" type="button">x</button>
<% } %>