<input
	class="chimeraField-prime chimeraField-string"
	value="<% data.value || '' %>"
	type="text"
	id="field-<%= data.field.path %>"
>

<% if (data.field.fieldType.is_array) { %>
	<button class="btn chimeraField-remove-entry" type="button">x</button>
<% } %>