<%
if (data.value && data.value.coordinates) {
	lat = data.value.coordinates[0];
	lng = data.value.coordinates[1];
}

id = 'map-' + Date.now() + '-' + Number.random(0,100);
%>
<input type="hidden" name="data.<%= data.field.path %>">
<div id="<%= id %>" class="chimeraField-prime geopoint-div geopoint-edit"></div>