<textarea
	class="chimeraField-prime chimeraField-string"
	rows=7
	id="field-<%= data.field.path %>"
><%= JSON.stringify(data.value) %></textarea>
<% if (data.field.fieldType.is_array) { %>
	<button class="btn chimeraField-remove-entry" type="button">x</button>
<% } %>