<input
	class="chimeraField-prime chimeraField-string chimeraPassword-first"
	type="password"
	placeholder="Enter a new password"
	id="field-<%= data.field.path %>"
>
<input
	class="chimeraField-string chimeraPassword-second"
	type="password"
	placeholder="Repeat the same password"
>
<div class="validation"></div>