<% expands('layouts/admin_body') %>

<% start('admin-main') %>
<p>This is the admin main!</p>
<% __('default', 'key.test') %>
<% flowtest('replacethis') %>

<% menu.get('test') %>

<% async(function(insert) {
console.log('Firing timeout')
console.time('dashtest')
	setTimeout(function() {
		insert('This will be inserted after 1 second');
		console.timeEnd('dashtest')
	}, 100)

	})
%>

<% form.input('testname', {}, {zever: 1, option: 'test', data: {facebook: 1}}) %>

<% end('admin-main') %>