<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<!-- Clear out title -->
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>
<h1>Welcome, <%= name %>!</h1>
<% end(store('chimera-view-setting').contentblock) %>