<% matchIns = {class: 'active', parent: {class: 'active'}} -%>

<header id="header">
	<nav class="navbar navbar-fixed-top" role="navigation">
		<ul class="nav navbar-nav" id="navbar-sidebar">
			<% add_link('/', {title: store('chimera-view-setting').title, class: 'navbar-brand'}); %>
			<a class="navbar-home btn btn-default pull-right" href="/"><span class="fa fa-home fa-lg"></span></a>
		</ul>
		<ul class="nav navbar-nav navbar-user navbar-left">
			<li>
				<button type="button" class="collapse-sidebar">
					<i class="fa fa-reorder"></i>
				</button>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-user navbar-right">
			<% 
			 implement('admin/topbar') 
			%>
		</ul>
	</nav>
</header>

<script>
	$('.navbar-home').on('click', function(){
		$(this).children('span').removeClass('fa-home');
		$(this).children('span').addClass('fa-refresh fa-spin');
	});
</script>