<% matchIns = {class: 'active', parent: {class: 'active'}} -%>
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<% add_link('/', {title: store('chimera-view-setting').title, class: 'navbar-brand'}); %>
	<a class="navbar-home" href="/"><span class="fa fa-home fa-lg"></span></a>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse">

	<div id="sidebarwrapper" class="nano">
		<div class="nano-content">
			<% sb.menu('chimera-sidebar', {admin:true}) %>
		</div>
	</div>

	<ul class="nav navbar-nav navbar-right navbar-user">
		<% implement('admin/topbar') %>
	</ul>
</div>

<script>
	$('.navbar-home').on('click', function(){
		$(this).children('span').removeClass('fa-home');
		$(this).children('span').addClass('fa-refresh fa-spin');
	});
</script>