<% matchIns = {class: 'active', parent: {class: 'active'}} -%>
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Alchemy Admin</a>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse">
	<% sb.menu('chimera-sidebar') %>

	<ul class="nav navbar-nav navbar-right navbar-user">
		<% implement('admin/topbar') %>
	</ul>
</div>