<% matchIns = {class: 'active', parent: {class: 'active'}}; %>

<ul class="topbar-right">
	<li><%= name %></li>
	<li><% add_link('/logout', {title: '<i class="fa fa-sign-out"></i> Logout'}); %></li>
</ul>


<%
// add_link('/', {title: 'Home', match: matchIns});
// add_link('/admin', {title: 'Admin', match: matchIns, matchExtend: true});
// add_link('/clients', {title: 'Clients', match: matchIns});
%>