<% matchIns = {class: 'active', parent: {class: 'active'}}; %>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<%= name %> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
		<li><% add_link('/logout', {title: '<i class="fa fa-power-off"></i> Logout'}); %></li>
    </ul>
</li>

<%
// add_link('/', {title: 'Home', match: matchIns});
// add_link('/admin', {title: 'Admin', match: matchIns, matchExtend: true});
// add_link('/clients', {title: 'Clients', match: matchIns});
%>