<% expands('layouts/admin_main') %>

<% start(store('chimera-view-setting').contentblock) %>
<div class="adminActionHead">
  <span class="title" id="mainTitle"><%= modelName %>: Edit record</span>
  <div class="clear"></div>
</div>

<div class="error"></div>

<div id="jsoneditor">

</div>

<script>
(function() {
var item      = <% echo(JSON.stringify(item)) %>,
    container = document.getElementById('jsoneditor'),
    editor    = new jsoneditor.JSONEditor(container);

    editor.set(item[<% echo(JSON.stringify(modelName)) %>]);
}());
</script>

<button class="btn btn-primary" id="saveEdit" data-model="<%= modelName %>" data-id="<%= item._id %>">Save record</button>

<% end(store('chimera-view-setting').contentblock) %>