<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: Add new record</span>
	<div class="actions paginate-actions">
		<% chimera.actions('paginate') %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<div class="error"></div>
<div id="jsoneditor"></div>
<button class="btn btn-primary" id="saveAdd">Add record</button>

<script>
(function() {
var container = document.getElementById('jsoneditor'),
    editor    = new jsoneditor.JSONEditor(container);

    editor.set({test: 'text'});

$('#saveAdd').click(function(e) {
	e.preventDefault();
	
	var postUrl = <% echo(JSON.stringify(postUrl)) %>;

	hawkejs.goToAjaxViewWithHistory(postUrl, null, {data: editor.get()});
});

}());
</script>

<% end(store('chimera-view-setting').contentblock) %>