<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
    <span class="title" id="mainTitle"><%= modelName %>: Export</span>
    <div class="actions paginate-actions">
        <% chimera.actions('paginate') %>
    </div>
    <div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) %>

<% errors() %>

<ul>
    <% for (var i in fields) { %>
        <li><input type="checkbox" name="check" value="<%= fields[i] %>"><%= fields[i] %></li>
    <% } %>
</ul>

<% end(store('chimera-view-setting').contentblock) %>