<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelTitle || modelName %>: <%= deleteTitle %></span>
	<div class="actions paginate-actions" style="float:right;">
		<% chimera.actions(showActions, {modelTitle: modelTitle, newItem: newItemName}) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title'); %>

<% start(store('chimera-view-setting').contentblock); %>


		<% form.create(modelName, {action: 'here', 'class': 'form-horizontal'}) %>
		
		<% var itemName = item[modelName][displayField]; %>
		<% var itemId = item[modelName]['_id'] %>
		
		<% if (itemName === undefined) {itemName = itemId} %>
		
		
		
		<p>Are you sure you want to delete <%= modelName %> <%= itemName %>?<p>
			
			<% form.input('_id', {'type':'hidden'}, {'value':String(itemId)}) %>

		<% form.submit('Yes', {'class': 'btn btn-danger'}) %>
		<% add_link('../index', {title: 'No', 'class': 'btn btn-default'}); %>

	<% form.end() %>

<% end(store('chimera-view-setting').contentblock); %>