<%
expands('layouts/admin_main');

var field, item, i, j;

if (typeof editconnection === 'undefined') {
	var editconnection = '/admin/editor/:modelname/edit/:id';
}

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: Index</span>
	<div class="actions paginate-actions">
		<% chimera.actions('paginate') %>
	</div>
	<div class="clear"></div>
	<!--<div class="filters">
		Show: 
		<select>
			<option>10</option>
			<option>50</option>
			<option>100</option>
			<option>200</option>
		</select>
	</div>
	<div class="clear"></div>-->
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock) -%>
<table class="table table-striped table-bordered">
	<tr>
		<% for (i = 0; i < fieldInfo.length; i++) {
			field = fieldInfo[i];
		%>
		<th><% Paginate.sort({field: field.field, display: field.title, parentClass: 'activesort'}) %></th>
		<% } %>
		<th>Actions</th>
	</tr>
	<tr>
		<% for (i = 0; i < fieldInfo.length; i++) {
			field = fieldInfo[i];
		%>
		<th><% Paginate.filter({field: field.field, display: field.title}) %></th>
		<% } %>
		<th>
			<a data-apply-pagination class="btn btn-default"><% echo(__('filter', 'Apply')) %></button>
		</th>
	</tr>

	<% for (i = 0; i < items.length; i++) {
		item = items[i];
	%>
		<% if (!item) continue %>
		<tr>
			<% for (j = 0; j < fieldInfo.length; j++) { %>
				<td><% chimera.field(item.fields, fieldInfo[j]) %></td>
			<% } %>
			<td>
				<div class="actions record-actions">
				<%
					chimera.actions('record', {
						'class': 'btn btn-xs',
						routeVars: {
							id: item._id
						},
						content: false
					});
				%>
				</div>
			</td>
		</tr>
	<% } %>
</table>

<% Paginate.show() %>

<% end(store('chimera-view-setting').contentblock) %>