<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelTitle || modelName %>: <%= editTitle %> <%= scope.variables.titleContent || '' %></span>
	<div class="actions paginate-actions right">
		<% chimera.actions(showActions) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock);

var options = {};
options.groups = __groups;
options.saveButton = saveButton;

if (typeof showSaveButton !== 'undefined') {
	options.showSaveButton = showSaveButton;
}

print_element('chimera/edit_form', {variables: {options: options}}); %>

<div id="tempeditor">
	<div class="modal fade" id="myMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				
				<div class="modal-body">
					<% assign('tempeditor') %>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>
</div>

<% end(store('chimera-view-setting').contentblock); %>