<% 
//IF JSON VIEW USE FIELDS ELSE USE ALLFIELDS
if(typeof allGroupedFields === 'undefined'){
	fieldInfo = [];
	for(var i in fields){
		var field = {};
		field.title = field.name = fields[i];
		fieldInfo.push(field);
	}
} else {
	fieldInfo = allFieldTitles;
}
var andor;
emit('create-chimera-filters-modal', {fields: allGroupedFields, modelName: modelName, filters: fieldConditions});
%>
<div class="filters">
	<% form.create(modelName, {action: 'here', 'class': 'form-horizontal'}) %>

	<div class="row" style="margin-bottom: 15px;">
		<div class="col-md-12">
			<span class="title" style="font-size:20px;"><% echo(__('chimera', 'Search :modelTitle', {modelTitle: modelTitle})) %></span>
			<div class="clearfix"></div>
			<table style="width:100%">
				<tr>
					<td>
						<div class="input-group" style="width:100%">
							<span class="input-group-addon search-btn" style="cursor: pointer;"><i class="fa fa-search"></i></span>
							<input type="text" class="form-control search-input" name="data[<%= modelName %>][search]" placeholder="Search all" value="<% if(scope.variables.search){ %><%= search %><% } %>">
							<span class="input-group-addon search-btn" style="cursor: pointer;"><% echo(__('chimera', 'Search')) %></span>
						</div>
					</td>
					<td style="width:135px;padding-left:5px;">
						<button type="button" class="btn btn-search <% if (activeFilters) echo('hasfilters') %>" id="clearbtn" ><% echo(__('chimera', 'Clear last search')) %></button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="clear"></div>

	<!-- FILTERS -->
	<div class="row" style="margin-bottom: 15px;">
		<div class="col-xs-6 col-sm-10">
			<a class="noreflink"  data-toggle="modal" data-target="#filterModal" id="add-filters-btn">
				<% echo(__('chimera', 'Advanced search with filters')) %>
			</a>
		</div>
	</div>
	
	<!-- Filter Modal -->
	<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="filterModalLabel"><% echo(__('chimera', 'Add Filters')) %></h4>
				</div>
				
				<div class="modal-body">
					<div class="panel-group" id="filter-modal-body">
						
					</div>
					<!-- ANDOR -->
					<input type="hidden" id="chimera-filters-input">
					<div class="clear"></div>
					<br />
					<div id="andor" class="col-sm-12">
						<div class="radio row">
							<div class="col-sm-12">
								<label>
									<input type="radio" name="data[logicalOperator]" value="or" <% if(logicalOperator === "or"){%> checked <% } %>>
									<% echo(__('chimera', 'Match any condition')) %>
								</label>
							</div>
						</div>
						<div class="radio row">
							<div class="col-sm-12">
								<label>
									<input type="radio" name="data[logicalOperator]" value="and" <% if(logicalOperator === "and"){%> checked <% } %>>
									<% echo(__('chimera', 'Match all conditions')) %>
								</label>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<br />
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><% echo(__('chimera', 'Close')) %></button>
					<button type="button" class="btn btn-primary" id="applybtn" data-dismiss="modal"><% echo(__('chimera', 'Apply Filters')) %></button>
				</div>
				
			</div>
		</div>
	</div>

	<input name="data[<%= modelName %>][filters]"  value="" type="hidden" >
	<% form.end() %>
</div>
<div class="clear"></div>
<script>
	$('.selectpicker').selectpicker();
</script>