<% expands('layouts/admin_main');

start('chimera-page-title'); -%>
<div class="adminActionHead">
	<span class="title" id="mainTitle"><%= modelName %>: <%= editTitle %></span>
	<div class="actions paginate-actions">
		<% chimera.actions(showActions) %>
	</div>
	<div class="clear"></div>
</div>
<% end('chimera-page-title');

start(store('chimera-view-setting').contentblock);

var options = {};
options.groups = __groups;
options.saveButton = saveButton;

if (typeof showSaveButton !== 'undefined') {
	options.showSaveButton = showSaveButton;
}

print_element('chimera/edit_form', {variables: {options: options}});

end(store('chimera-view-setting').contentblock);
%>