<nav class="side-nav">
	<ul class="side-nav-collection">
		<% chimera_menu.forEach(function eachEntry(entry, index) { %>
			<li class="side-nav-entry <% if (!Object.isEmpty(entry.children)) { print('is-parent') } %>">

				<a class="js-he-link side-nav-link section"
					href="<%
					if (entry.route) {
						print(Router.routeUrl(entry.route, entry.parameters));
					} else if (entry.href) {
						print(entry.href);
					} else {
						print('#');
					}
				%>">
					<span class="link-icon">
					<% if (entry.icon) {
						if (entry.icon.svg) {
							print(Media.svg(entry.icon.svg));
						} else if (entry.icon.html) {
							print(entry.icon.html);
						} else {
							print('&bull;');
						}
					} else {
						print('&bull;');
					} %>
					</span>
					<span class="link-title"><%= entry.title %></span>
				</a>

				<% if (!Object.isEmpty(entry.children)) { %>
					<ul class="side-nav-collection is-child">
						<% entry.children.forEach(eachEntry) %>
					</ul>
				<% } %>
			</li>
		<% }) %>
	</ul>
</nav>