@import "bootstrap3.0/all.less";
@import "sb-admin.less";

.adminActionHead {
	margin: 15px 0 5px;

	span.title {
		font-size: 30px;
		float: left;
	}

	div.actions {
		float: right;
	}
}

.clear {
	clear: both;
}

.btn:not(:last-child) {
	margin-right: 5px;
}

.jsoneditor {
	margin-bottom: 10px;
}

a.btn {
	i.fa:not(:last-child) {
		margin-right: 5px;
	}
}

div.alchemy-error:not(:empty) {
	background: rgb(220, 157, 159);
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid rgb(195, 89, 88);
	padding: 15px;

	pre {
		margin: 0;
		font-size: inherit;
		background-color: inherit;
		padding: 0;
		border: none;
	}
}