@chimeraFont: 'Open Sans';
@grayOne: #302020;
@grayTwo:#eee;
@grayThree: #dddddd;
@grayFour: #6f7b8a;
@grayFive: #505458;
@graySix: #576475;
@mystic: #E8EDF1;

@blackOne: #22262E;

@titleColor: @grayFive;
@pcardTitleColor: @titleColor;
@pcardBorderColor: @grayThree;
@pcardBottomBorderColor: @grayTwo;
@pcardBackgroundColor: white;
@pcardTextColor: @grayFour;
@pcardFont: @chimeraFont;
@pcardToolColor: @grayFour;

@columnTitle: @blackOne;
@tableBorderColor: @mystic;
@tableTextColor: @graySix;

/* Colors */
@white:                      #ffffff;
@white-tint:                 #fefefe;

@green-light:                #3db9af;
@green:                      #0aa699;
@green-tint:                 #0b9c8f;
@green-dark:                 darken(@green, 20%);

@blue-lighter-tint:          #00acec;
@blue-lighter:               #0090D9;
//@blue-light-tint:            #2d8ebf;
//@blue-light:                 #14b9d6;
@blue-light:                 #419dda;
@blue:                       #1285d1;
@blue-tint:                  #0d638f;
@blue-dark:                  #1f3853;
@blue-darkest:               darken(@blue-dark, 10%);

@orange-light:               #fccb7e;
@orange:                     #ffb848;
@orange-tint:                #fbb05e;
@orange-dark:                darken(@orange, 20%);

@yellow:                     #fdd01c;

@gray-ultra-light:           #f4f4f4;
@gray-ultra-light-tint:      #f0f0f0;
@gray-lightest:              #e5e9ec;
@gray-lightest-tint:         darken(@gray-lightest, 5%);
@gray-lighter:               #cccccc;
@gray-light:                 #8b91a0;
@gray:                       #444444;
@gray-dark:                  #2a2e36;
@gray-dark-tint:             #22262e;
@gray-darkest:               #1b1e24;

@pink-lighter:               #fed8db;

@red-light:                  #f35958;
@red:                        #db3535;
@red-dark:                   darken(@red, 20%);

@black-tint:                 #0d0f12;
@black:                      #000000;

@gray-blue-light:            #d1dade;
@gray-blue-dark:             #6f7b8a;
@gray-blue-darker:           #505458;
@gray-blue-darkest:          #2a2e36;

@purple-light:               #816f92;
@purple:                     #736086;
@purple-dark:                darken(@purple, 20%);

// Table colors
@table-header-color:         @gray-light;
@table-header-anchor-color:  @green;
@table-border-color:         @gray-lightest;
@table-tex-color:            @grayFive;

/* Fonts */
@open-sans:                  'Open Sans', sans-serif;
@font-awesome:               'FontAwesome';