@import "reset.scss";
@import "fonts/roboto.scss";

body {
	font-family: 'Roboto', sans-serif;
}

.chimera-wrapper {
	--sidebar-bg-color: #4a4e58;
	--text-color: #475466;
	--main-bg-color: #ebedf0;
	--main-border-color: #dadee0;
	--button-bg-color: #F4F5F9;
	--button-bg-hover-color: #e7e9f2;
	--button-text-color: #3699FF;

	--color-title: #475466;
	--color-box-border: #DADEE0;
	--color-active: #3699FF;
	--color-text: #475466;
	--color-input-border: #CCD7E6;

	display: flex;
	min-height: 100vh;
	width: 100%;
	color: var(--text-color);
}

.btn {
	background-color: var(--button-bg-color);
	text-decoration: none;
	color: var(--button-text-color);
	line-height: 2rem;
	min-width: 10rem;
	text-align: center;
	border-radius: 2px;
	font-weight: 500;

	&:hover {
		background-color: var(--button-bg-hover-color);
	}
}

.chimera-sidebar {
	background-color: var(--sidebar-bg-color);
	flex: 0 0 14rem;
	display: flex;
	flex-flow: column;
}

.chimera-content {
	background-color: var(--main-bg-color);
	flex: 1 0;
	display: flex;
	flex-flow: column;

	.chimera-page-header {
		border-color: var(--main-border-color);
		border-style: solid;
		border-width: 0 0 1px;
		background-color: white;
	}
}

.chimera-page-header {
	height: 4rem;
	display: flex;
	padding: 0.8rem;
	justify-content: space-between;

	> * {
		display: flex;
		align-self: center;
	}

	.page-title {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.page-actions {

	}
}

.chimera-main {
	flex: 1;
	padding: 0.5rem;
}

.main-widgets {
	height: 100%;
}

.chimera-editor-widgets {
	padding: 1rem;

	alchemy-widget[type="alchemy_field"] {
		margin-bottom: 1rem;
	}

	.form-field-info label,
	.form-field-info alchemy-label {
		display: block;
		font-size: 1.2rem;
	}
}

alchemy-widgets-navigation {
	--border-color: #333333;

	ul {
		padding-left: 0;

		li {
			list-style: none;
			border-bottom: 1px solid var(--border-color);
		}

		li:first-of-type {
			border-top: 1px solid var(--border-color);
		}
	}

	alchemy-widget[type="link"] {
		width: 100%;
		height: 3rem;
		display: flex;

		a {
			width: 100%;
			align-self: stretch;
			display: flex;
			align-items: center;
			padding-left: 1rem;
			text-decoration: none;
			color: white;

			&:hover,
			&.active-link {
				background-color: rgba(190, 190, 190, 0.5);
			}
		}
	}
}

.chimera-main[data-he-template="chimera/widgets"] {
	padding: 1rem;
}

.chimera-input-field {
	padding: 0px 12px;
	border: 1px solid var(--color-input-border);
	color: var(--text-color);
	-webkit-appearance: none;
	height: 2rem;
}

alchemy-table .aft-column-filters input {
	@extend .chimera-input-field;
	width: 100%;
}

alchemy-field {
	border: 1px solid var(--color-box-border);
	background-color: white;
	border-radius: 4px;

	alchemy-label {
		padding-left: 1rem;
		line-height: 3rem;
		font-size: 16px;
		font-weight: 500;
		color: var(--color-title);
		border-bottom: 1px solid var(--color-box-border);
	}

	alchemy-field-translatable {
		.prefix-buttons {
			width: 100%;
			border-bottom: 1px solid var(--color-box-border);
			display: flex;

			button {
				flex: 1;
				font-size: 16px;
				font-weight: 500;
				color: var(--button-text-color);
				letter-spacing: 0px;
				background: transparent;
				border: none;
				cursor: pointer;

				height: 3rem;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;

				&.active {
					box-shadow: inset 0 -2px var(--color-active);
				}

				&:hover {
					background-color: var(--button-bg-hover-color);
				}
			}
		}
	}

	.field {
		display: flex;
		padding: 1rem;

		> * {
			flex: 1;
		}

		> alchemy-widget {
			border: 1px solid var(--color-input-border);
			padding: 0 12px;
		}
	}

	.field input[type="text"],
	.field input[type="number"],
	.field input[type="color"] {
		@extend .chimera-input-field;
		height: 3rem;
	}

	.field input[type="color"] {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}