@import "reset.scss";
@import "fonts/roboto.scss";

body {
	font-family: 'Roboto', sans-serif;
}

.default-form-editor,
.chimera-wrapper {
	--sidebar-bg-color: #4a4e58;
	--text-color: #475466;
	--main-bg-color: #ebedf0;
	--main-border-color: #dadee0;
	
	--button-bg-color: #F4F5F9;
	--button-bg-hover-color: #e7e9f2;
	--button-text-color: #3699FF;

	--notification-bg-color: #4a4e58;
	--notification-text-color: #f4f5f9;
	--notification-border-color: #dadee0;

	--color-title: #475466;
	--color-box-border: #DADEE0;
	--color-active: #3699FF;
	--color-text: #475466;
	--color-input-border: #CCD7E6;

	--alchemy-tab-button-border: var(--color-box-border);
	--alchemy-tab-panel-border: var(--color-box-border);
}

.chimera-wrapper {
	display: flex;
	min-height: 100vh;
	width: 100%;
	color: var(--text-color);
}

.btn {
	//--button-bg-color: var(--context-background-color, --button-bg-color);
	--local-text-color: var(--context-color, var(--button-text-color));
	--local-border-color: var(--context-border-color, var(--button-border-color));

	background-color: var(--button-bg-color);
	color: var(--local-text-color);
	border: 1px solid;
	border-color: var(--local-border-color);

	text-decoration: none;
	line-height: 2rem;
	min-width: 10rem;
	text-align: center;
	border-radius: 2px;
	font-weight: 500;
	cursor: pointer;
	padding: 0.4rem 0.7rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;

	&:hover {
		background-color: var(--button-bg-hover-color);
		//filter: brightness(1.05);
	}

	al-icon {
		margin-right: 4px;
	}
}

.primary {
	--context-color: #084298;
	--context-background-color: #cfe2ff;
	--context-border-color: #b6d4fe;
}

.secondary {
	--context-color: #41464b;
	--context-background-color: #e2e3e5;
	--context-border-color: #d3d6d8;
}

.success {
	--context-color: #0f5132;
	--context-background-color: #d1e7dd;
	--context-border-color: #badbcc;
}

.danger,
.error {
	--context-color: #842029;
	--context-background-color: #f8d7da;
	--context-border-color: #f5c2c7;
}

.warning {
	--context-color: #664d03;
	--context-background-color: #fff3cd;
	--context-border-color: #ffecb5;
}

.info {
	--context-color: #055160;
	--context-background-color: #cff4fc;
	--context-border-color: #b6effb;
}

.light {
	--context-color: #636464;
	--context-background-color: #fefefe;
	--context-border-color: #fdfdfe;
}

.dark {
	--context-color: #141619;
	--context-background-color: #d3d3d4;
	--context-border-color: #bcbebf;
}

.alert-box {
	color: var(--context-color);
	background-color: var(--context-background-color);
	border: 1px solid;
	border-color: var(--context-border-color);
	padding: 1rem;
	margin: 1rem 0 1rem;
}

.chimera-sidebar {
	background-color: var(--sidebar-bg-color);
	flex: 0 0 14rem;
	display: flex;
	flex-flow: column;

	.sidebar-widgets {
		position: sticky;
		top: 1rem;
	}
}

.chimera-content {
	background-color: var(--main-bg-color);
	flex: 10 0;
	display: flex;
	flex-flow: column;

	.chimera-page-header {
		border-color: var(--main-border-color);
		border-style: solid;
		border-width: 0 0 1px;
		background-color: white;
	}
}

.chimera-page-header {
	height: 4rem;
	display: flex;
	padding: 0.8rem;
	justify-content: space-between;

	> * {
		display: flex;
		align-self: center;
	}

	.page-title {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.page-actions {

	}
}

.chimera-main {
	flex: 1;
	padding: 0.5rem;
	display: flex;
	flex-flow: column;

	&[data-he-template="chimera/widgets"] {
		h1 {
			padding-top: 0;
		}
	}
}

.main-widgets {
	height: 100%;
}

.chimera-editor-widgets {
	padding: 1rem;

	al-widget[type="alchemy_field"] {
		margin-bottom: 1rem;
	}

	.form-field-info {
		background-color: #F4F5F9;
	}

	.form-field-info label,
	.form-field-info al-label {
		display: block;
		font-size: 1.2rem;
	}
}

al-widgets-navigation {
	--border-color: #333333;

	ul {
		padding-left: 0;

		li {
			list-style: none;
			border-bottom: 1px solid var(--border-color);
		}

		li:first-of-type {
			border-top: 1px solid var(--border-color);
		}
	}

	al-widget[type="link"] {
		width: 100%;
		height: 3rem;
		display: flex;

		a {
			width: 100%;
			align-self: stretch;
			display: flex;
			align-items: center;
			padding-left: 1rem;
			text-decoration: none;
			color: white;

			&:hover,
			&.active-link,
			&.active-sublink {
				background-color: rgba(190, 190, 190, 0.5);
			}
		}
	}
}

.chimera-main[data-he-template="chimera/widgets"] {
	padding: 1rem;
}

.chimera-input-field {
	padding: 0px 12px;
	border: 1px solid var(--color-input-border);
	color: var(--text-color);
	-webkit-appearance: none;
	height: 2rem;
}

.page-notification {
	.notification {
		border: 1px solid var(--notification-border-color);
		background: var(--notification-bg-color);
		color: var(--notification-text-color);
		border-radius: 5px;
		padding: 0.5rem 0.8rem;
	}
}

.removing {
	transition: opacity 2s;
	opacity: 0;
}

.alchemy-field-enum.alchemy-field-value {
	margin: auto;
	background: #777;
	display: inline-block;
	padding: 6px;
	border-radius: 7px;
	color: white;
}

al-field-translatable {
	.prefix-buttons {
		width: 100%;
		border-bottom: 1px solid var(--color-box-border);
		display: flex;

		button {
			flex: 10;
			font-size: 16px;
			font-weight: 500;
			color: var(--button-text-color);
			letter-spacing: 0px;
			background: transparent;
			border: none;
			cursor: pointer;

			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;

			&.active {
				box-shadow: inset 0 -2px var(--color-active);
			}

			&:hover {
				background-color: var(--button-bg-hover-color);
			}
		}
	}
}

al-field[mode="inline"] {
	al-field-translatable {
		.prefix-buttons {
			button {
				height: 2rem;
				font-size: 14px;
			}
		}

		.entries {

		}
	}

	al-field-translatable-entry {
		display: block;
		padding: 9px;
		background: rgba(190,190,190,0.1);
		min-height: 37px;
	}
}

.default-form-editor,
.chimera-wrapper {

	al-table .aft-column-filters input {
		@extend .chimera-input-field;
		width: 100%;
	}

	al-form {
		.error-area:not(:empty) {
			@extend .error, .alert-box;
			margin-top: 0;
		}
	}

	al-field {
		.wrapped-inline {
			> .field {
				padding: 0 !important;
			}
		}
	}

	al-field[mode="inline"] {
		border: none;
	}

	al-field:not([mode="inline"]) {
		border: 1px solid var(--color-box-border);
		background-color: white;
		border-radius: 4px;

		// In case something goes wrong:
		min-height: 1rem;

		al-label {
			padding-left: 1rem;
			line-height: 3rem;
			font-size: 16px;
			font-weight: 500;
			color: var(--color-title);
			border-bottom: 1px solid var(--color-box-border);
			display: flex;
			flex-flow: column;

			[data-he-name="field-description"] {
				line-height: 1;
				margin-bottom: 1rem;
				color:gray;

				&:empty {
					display: none;
				}
			}
		}

		.field {
			display: flex;
			padding: 1rem;
			flex: 10;

			> * {
				flex: 10;
			}

			> al-widget {
				border: 1px solid var(--color-input-border);
				padding: 0 12px;
			}
		}

		.field {
			input[type="text"],
			input[type="number"],
			input[type="color"],
			input[type="datetime-local"],
			input[type="password"] {
				@extend .chimera-input-field;
				height: 3rem;
			}

			textarea {
				@extend .chimera-input-field;
				min-height: 5rem;
				padding: 1rem;
			}

			input[type="color"] {
				background-color: transparent;
				border: none;
				padding: 0;
			}
		}
	}

	al-field-array {
		.add-entry {
			@extend .btn;
			margin: 1rem 0 0 1rem;
		}

		button.remove {
			@extend .btn;
			@extend .danger;
			min-width: 6rem;
			margin: 0 1rem 1rem 0;
		}

		.entries {
			margin-top: 0.5rem;
		}

		al-field-array-entry:not(:last-of-type) {
			//border-bottom: 1px solid gray;
			position: relative;

			&::after {
				display: block;
				content: " ";
				background-color: lightgray;
				position: absolute;
				bottom: 0;
				height: 1px;
				left: 50%;
				transform: translateX(-50%);
				width: 80%;
			}
		}

		al-field-array-entry:not(:first-of-type) {
			margin-top: 1rem;
		}
	}

	.chimera-editor-widgets {

		al-widgets-column.toc-col {
			flex: 2 2;
		}

		al-toc[elements-selector="al-field"] {
			align-self: start;
			top: 2rem;
			position: sticky;

			ol {
				list-style: none;
				margin: 0 0 0 2rem;
				padding: 0;

				li {
					a {
						display: block;
						line-height: 2rem;
						border-bottom: 1px solid #aaa;
						text-decoration: none;
						opacity: 0.5;
						color: #0070e4;
					}
				}
		
				li a.visible {
					opacity: 1;
				}
			}
		}
	}

	al-field-schema {
		al-field {
			border: none;
			margin-bottom: 1rem;
		}
	}

	.aft-actions {
		al-button,
		a {
			color: var(--button-text-color);
			background-color: var(--button-bg-color);
			padding: 0.5rem;
			border-radius: 6px;
			margin: 0.2rem;
			display: inline-flex;

			&:hover {
				background-color: var(--button-bg-hover-color);
			}
		}
	}

	.chimera-confirm-page {
		flex: 1;
		justify-content: center;
		display: flex;
		align-items: center;
		flex-flow: column;
		flex-direction: column;

		.action-buttons {
			display: flex;
			gap: 1rem;
		}
	}

	al-file {
		button {
			@extend .btn;
		}
	}

	al-password-input {
		label:first-of-type {
			margin-bottom: 0;
		}

		.repeat-input-label {
			margin-top: 1rem;
		}

		.inputbox {
			background: initial;
		}
	}
}

al-field {
	// Don't let images in widgets take up more then 1/4th of the screen height
	al-widget {
		img {
			max-height: 25vh;
		}
	}
}