<% expands(store('chimera-view-setting').bodylayout);

// Always add the bootstrap js files
asset.script([
	'bootstrap3.0/affix',
	'bootstrap3.0/alert',
	'bootstrap3.0/button',
	'bootstrap3.0/carousel',
	'bootstrap3.0/collapse',
	'bootstrap3.0/dropdown',
	'bootstrap3.0/modal',
	'bootstrap3.0/tooltip',
	'bootstrap3.0/popover',
	'bootstrap3.0/scrollspy',
	'bootstrap3.0/tab',
	'bootstrap3.0/transition',
	'moment2.5/moment',
	'bootstrap3.0/datetimepicker',
	'timeago1.4/jquery.timeago',
	'jsoneditor2.3/jsoneditor',
	'chimera-jqueryui',
	'select2-3.4/select2',
	'bootstrap-select1.6/bootstrap-select',
	'jqueryui1.10/jquery.ui.widget',
	'underscore1.5/underscore',
	'nanoscroller/jquery.nanoscroller',
	'mentionsInput/jquery.mentionsInput',
	'fileupload/jquery.fileupload',
	'/public/ckeditor/4.3/ckeditor',
	'/public/ckeditor/4.3/adapters/jquery',
	'toastr2.0/toastr',
	'chimera-admin',
	'admin'
	], {block: 'head'});

// Always add the admin less files
asset.style([
	'chimera',
	'jsoneditor2.3/jsoneditor',
	'select2-3.4/select2',
	'bootstrap-select1.6/bootstrap-select',
	'nanoscroller/nanoscroller',
	'mentionsInput/mentionsInput',
	], {block: 'head'});

start(store('chimera-view-setting').mainblock) %>
	<% implement('admin/header') %>
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<div id="sidebar-wrapper-inner" >
				<div id="nano-container" class="nano">
					<div class="nano-content">
						<% sb.menu('chimera-sidebar', {admin:true}) %>
					</div>
				</div>
			</div>
		</div>

		<div id="page-wrapper">
			<div class="container">
				<% assign('chimera-page-title') %>
				<div id="error"></div>
				<% assign(store('chimera-view-setting').contentblock) %>
			</div>
		</div>
	</div>
<% end(store('chimera-view-setting').mainblock) %>
