<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<% this.foundation() %>
		<script>
			var Blast = __Protoblast;
			Blast.__init(true);
		</script>
	</head>
	<body>
		<% assign('body') %>
	</body>
</html>