<% expands('layouts/chimera');

Router.setBreadcrumb([
	{title: __('chimera', 'Dashboard'), route: 'chimera@Dashboard'},
	{title: modelName.titleize(), route: 'chimera@ModelAction', parameters: {action: 'index'}},
	{title: display_field_value, route: 'chimera@RecordAction'}
]);

start('chimera-cage') %>
<main>
	<x-panel class="chimera-editor" tabs>
		<x-panel-tabs>
			<% for (name in groups) { %>
				<a href="#<%= name.slug() %>"><%= name.titleize() %></a>
			<% } %>
		</x-panel-tabs>
		<x-panel-action>
			<% Chimera.printActions('record-draft', {className: 'btn-top'}, record) %>
		</x-panel-action>
		<% for (name in groups) { %>
			<x-panel-body id="<%= name.slug() %>">
			<%
				fields = groups[name][0].fields;
				for (i = 0; i < fields.length; i++) {
					Chimera.printField(fields[i]);
				}
			%>
			</x-panel-body>
		<% } %>
	</x-panel>
</main>
<% end('chimera-cage') %>