<% expands('layouts/chimera');

Router.setBreadcrumb([
	{title: __('chimera', 'Dashboard'), route: 'chimera@Dashboard'},
	{title: pageTitle, route: 'chimera@ModelAction'}
]);

start('chimera-cage') %>
<x-panel class="table-panel model-list-panel" role="main">
	<x-panel-title></x-panel-title>
	<x-panel-action>
		<% Chimera.printActions('model', {className: 'btn-top'}) %>
	</x-panel-action>
	<x-panel-body>
		<table class="table table-bordered table-hover model-list">
			<thead>
				<tr>
					<th class="model-list-checkbox">
						<label class="cbx-label cbx-label-primary">
							<input type="checkbox" class="check-all">
							<span></span>
						</label>
					</th>
					<%
					while (fields.hasNext()) {
						field = fields.next().value;

						print('<th>');
						print(Pagination.sort({field: field.path, content: field.fieldType.title}));
						print('</th>');
					}
					%>
					<th class="record-actions">Actions</th>
				</tr>
				<% if (show_index_filters) { %>
					<tr class="filters">
						<th></th>
						<%
						fields.reset();
						while (fields.hasNext()) {
							field = fields.next().value;

							print('<th>');
							filter_element = Pagination.filter({field: field.path, content: field.fieldType.title});
							filter_element.classList.add('chimeraField-string');

							print(filter_element);
							print('</th>');
						}
						%>
					</tr>
				<% } %>
				</thead>
				<tbody>
				<%
					iterator = records.createIterator();
					while (iterator.hasNext()) {
						item = iterator.next();
						record = item.value;
						fields = record.fields;

						print('<tr class="model-list-record">');

						print('<td class="model-list-checkbox"><label class="cbx-label cbx-label-primary">');
						print('<input type="checkbox" value="' + record.id + '"><span></span>');
						print('</label></td>');

						for (i = 0; i < fields.length; i++) {
							print('<td>');
							Chimera.printField(fields[i]);
							print('</td>');
						}
						print('<td class="record-actions">');
						Chimera.printActions('record', {className: 'btn-inline'}, record);
						print('</td>');
						print('</tr>');
					}
				%>
			</tbody>
		</table>
	</x-panel-body>
	<x-panel-footer class="chimeraEditor-footer u-stretch">
		<%= Pagination.getInfo() %>
		<% Pagination.show() %>
	</x-panel-footer>
</x-panel>
<% end('chimera-cage') %>