<% expands('layouts/chimera') %>

<% start('pageCentral') %>
	<main>
		<article class="chimeraEditor">
			<header class="chimeraEditor-header u-stretch">
				<h1 class="pageTitle u-child"><%= pageTitle %>:</h1>
				<nav class="u-child">
					<% Chimera.printActions('model', {className: 'btn-top'}) %>
				</nav>
			</header>
			<table class="modelList">
				<tr>
					<th class="modelList-radio"><!-- Radiobuttons --></th>
					<%
						while (fields.hasNext()) {
							field = fields.next().value;

							print('<th>');
							print(field.fieldType.title);
							print('</th>');
						}
					%>
					<th class="modelList-right">Actions</th>
				</tr>
				<%
					iterator = records.createIterator();
					while (iterator.hasNext()) {
						item = iterator.next();
						record = item.value;
						fields = record.fields;

						print('<tr class="modelList-record">');

						print('<td><div class="cbx">');
						print('<input class="cbx-input" type="checkbox" id="cbx-r-' + item.index + '" value="' + record.id + '">');
						print('<label class="cbx-label" for="cbx-r-' + item.index + '"><span class="cbx-span"></span></label>');
						print('</div></td>');

						for (i = 0; i < fields.length; i++) {
							print('<td>');
							Chimera.printField(fields[i]);
							print('</td>');
						}
						print('<td class="chimeraEditor-actions--inline">');
						Chimera.printActions('record', {className: 'btn-inline'}, record);
						print('</td>');
						print('</tr>');
					}
				%>
			</table>

			<footer class="chimeraEditor-footer u-stretch">
				<div class="u-child"></div>
				<nav class="u-child">
					<% Chimera.printActions('model', {className: 'btn-top'}) %>
				</nav>
			</footer>

			<% Pagination.getPageNumber() %>
			<% Pagination.page({}) %>
			<% Pagination.show() %>

		</article>
	</main>
<% end('pageCentral') %>